@model Farma.Models.Categoria

@{
    ViewData["Title"] = "Eliminar Categoría";
}

<h2>Eliminar Categoría</h2>

<h3>¿Está seguro de que desea eliminar esta categoría?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>

