@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Inventario farmacéutico</a>.</p>
    <img src="~/images/farmacia.jpg" alt="Example Image" width="500" height="380" />
</div>
