body {
}

.vencido {
    background-color: #FF3333;
    color: white;
}

.proximo {
    background-color: #FFCCBC;
    color: black;
}

.pronto {
    background-color: #FFF9C4;
    color: black;
}

.vigente {
    background-color: #fffafa;
    color: black;
}
